* {
    font-family: sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: hidden;
}

/* header styling */
#headerNav {
    display: flex;
    justify-content: space-between;  
    border: 1px solid black; 
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#headerNav img {
    max-width: 200px;
    height: 27px;
    padding-top: 15px;
}

#nav {
    display: flex;
}

#nav a {
    color: black;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

#nav a:hover {
    background-color: #b6b4b4;
    color: white;
}

#profile {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile h3 {
    margin-top: 0px;
}

#subtitle {
    color: rgb(149, 160, 170);
    padding-bottom: 15px;
}

/* main styling */
#ilc {
    display: flex;
    margin-top: 0px;
}

#article {
    flex-basis: 100%;
    padding: 20px;
    margin-right: 0px;
    margin-top: 21px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #f2f2f2;
    padding: 30px;
}

#article h3 {
    font-size: 23px;
    font-style: bold;
    color: rgb(0, 0, 0);
}

#article img {
    max-width: 100%;
    height: auto;
}

#article p {
    color: rgb(116, 122, 126);
}

#icon {
    flex: 55%;
    width: fit-content;
    height: fit-content;
    padding: 30px;
}

/* kegiatan styling */
#kegiatan {
    border-bottom: 0.5px solid rgb(214, 213, 213);
}

#kegiatan p {
    color: rgb(116, 122, 126);
}

#events {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#events h2 {
    margin-top: 50px;
    padding: 80px 15%;
    background-color: #f2f2f2;
    text-align: center;
}

#kegiatan img {
    max-width: 60%;
    height: auto;
}

/* register styling */
#register {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 30px;
    padding: 30px;
    border-bottom: 0.5px solid rgb(214, 213, 213);
}

#form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#form h1 {
    font-size: 24px;
    margin-bottom: 25px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="file"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#logo {
    max-width: 100%;
    height: auto;
    margin-left: 100px;
    margin-top: 60px;
}

/* footer styling */
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    margin-top: 50px;
}

#footer p {
    display: flex;
    margin-top: 0;
    color: rgb(149, 160, 170);
}

.footerDetails {
    display: flex;
    margin-top: 10px;
    gap: 0px;
    color: rgb(149, 160, 170);
}